language: android

android:
  components:
    - tools
    - build-tools-23.0.3
    - android-23
    - platform-tools
    - extra-android-support
    - extra-google-m2repository
    - extra-android-m2repository

script:
  - ./gradlew checkstyle build
  - cat /home/travis/build/Karumi/Dexter/dexter/build/outputs/lint-results-debug.xml
