language: android
jdk: oraclejdk8

android:
  components:
    - tools
    - build-tools-25.0.0
    - platform-tools
    - android-25
    - extra-google-m2repository
    - extra-android-m2repository

script:
  ./gradlew checkstyle build test && ./gradlew assembleRelease

